button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 600px) {
    button img {
        width: 20px; 
        height: 20px;
    }

    button {
        margin: 5px; 
    }
}
