
button {
    background-color: rgb(181, 42, 231);
    border-radius: 25px;
    border: none;
    color: white;
    width: 150px;
    font-size: 12pt;
    height: 45px;
    cursor: pointer;
    margin-top: 15px;
}

#Hashtags {
    background-color: rgb(200, 85, 241);
}

hr {
    border: none;
    height: 60px;
    background-color: #e6a0ff;
    width: 1.5px;
    margin: 0px;
}

#head {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

#closeButton {
    width: 30px;
    height: 30px;
}